.login-signup-container {
    background-color: #f7f7f7;
    padding: 2rem;
    margin: 5rem auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-link {
    text-align: center;
    margin-top: 1rem;
  }
  
  .register-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register-link:hover {
    color: #0056b3;
  }
  