.pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 8px 12px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
  }
  
  .page-link:hover {
    background-color: #0056b3;
    color: white;
  }
  