/* General Styles */
.dashboard {
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Wrapper for centering content with side margins */
.wrapper {
    max-width: 1200px; /* Set the max width for content */
    margin: 0 auto; /* Center the content */
    padding: 0 20px; /* Add padding on the sides for smaller screens */
  }
  
/* Body Content */
.body-content {
    margin-top: 80px; /* Adjust this based on header height */
    padding: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

h2 {
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}